<nav class="bg-gray-200 py-4">
  <div class="container mx-auto flex justify-between items-center px-5">
    <a routerLink="/" class="text-lg font-bold text-gray-800">TaskSync</a>
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/home" class="text-gray-800 hover:text-gray-600">Home</a>
      </li>
      <li>
        <a routerLink="/about" class="text-gray-800 hover:text-gray-600"
          >About</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="text-gray-800 hover:text-gray-600"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
