<div class="min-h-screen flex flex-col">
  <app-navbar></app-navbar>
  <div class="flex flex-row flex-1 items-center">
    <div class="w-1/2">
      <img
        src="../../../assets/AuthIllus.jpg"
        alt="Background Image"
        class="object-cover my-5"
      />
    </div>

    <form
      [formGroup]="signinForm"
      (ngSubmit)="submitForm()"
      class="h-full flex flex-col justify-center items-center bg-white w-3/4"
    >
      <h1 class="text-4xl mb-5 font-bold text-purple-900">Welcome!</h1>
      <div class="flex flex-col justify-center items-center p-2 w-1/2">
        <div class="mb-4 w-full items-center">
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Email"
            class="px-4 py-2 w-full border rounded"
          />
        </div>
        <div class="mb-4 w-full items-center">
          <input
            type="text"
            id="password"
            formControlName="password"
            placeholder="Password"
            class="px-4 py-2 w-full border rounded"
          />
        </div>

        <app-form-button type="submit"> Sign In </app-form-button>
        <p>
          Don't have an account?
          <a routerLink="/signup" class="text-purple-800">Sign Up</a>
        </p>
      </div>
    </form>
  </div>
</div>
