<div class="min-h-screen flex flex-col">
  <app-navbar class=""></app-navbar>
  <div
    class="mx-auto mt-[10%] z-10 bg-gray-950/5 backdrop-blur w-3/4 h-1/2 p-28 rounded-3xl font-bold"
  >
    <h1 class="text-6xl text-white mb-9">TaskSynk</h1>
    <p class="text-xl text-white mb-9">
      Simplify Collaboration, Streamline Tasks
    </p>
    <app-form-button type="" routerLink="/signup">
      Get Started
    </app-form-button>
  </div>

  <div class="fixed top-0 left-0 z-0 w-full h-full">
    <img src="../../../assets/landing-01.svg" class="" />
  </div>
</div>
